# Secrets
.env
*.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
airflow_venv/

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow/airflow.cfg
airflow/airflow.db
airflow/webserver_config.py
airflow/logs/
airflow/plugins/
airflow/standalone_admin_password.txt
airflow/airflow-webserver.pid

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# AWS
.aws/

# Local data
/tmp/